
@model Account

<form asp-controller="Account" asp-action="CreateAccount" method="POST">

    <h1>Create your Account</h1>
    
    

    <p>Name</p>
    <input id="account.Name" name="Name" />

    <p>Email</p>
    <input id="account.Email" name="Email" />


    <p>Password</p>
    <input id="account.Password" name="Password" />

    <br />

    <label for="accountType">Account Type:</label>
    <select id="accountType" name="accountType">
        <option value="Representative">Restaurant Representative</option>
        <option value="Reviewer">Reviewer</option>
    </select>
    <br />
    <label for="answerOne">What street did you first live on?</label>
    <input id="account.AnswerOne" name="AnswerOne" />
    <br />
    <label for="answerTwo">What is your mother's maiden name?</label>
    <input id="account.AnswerTwo" name="AnswerTwo" />
    <br />
    <label for="answerThree">What is your middle name?</label>
    <input id="account.AnswerThree" name="AnswerThree" />
    <br />
    <button id="btnCreateAccount" name="btnCreateAccount">Create Account</button>
</form>
