@model RestaurantReviewCoreMVC.Models.ForgotPassword



@ViewData["Message"]
<h1>Forgot your password?</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Account" asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label for="Email">Email address</label>
                <input type="email" class="form-control" id="Email" name="Email" required />
                
            </div>
            <br />
            <label for="answerOne">What street did you first live on?</label>
            <input id="account.AnswerOne" name="AnswerOne" />
            <br />
            <label for="answerTwo">What is your mother's maiden name?</label>
            <input id="account.AnswerTwo" name="AnswerTwo" />
            <br />
            <label for="answerThree">What is your middle name?</label>
            <br />
            <input id="account.AnswerThree" name="AnswerThree" />
            <br />
            <button type="submit" class="btn btn-primary">Send Verification Email</button>
        </form>
    </div>
</div>