
@model Account

<form asp-controller="Account" asp-action="Login" method="POST">
    
    <p>Email</p>
    <input id="Email" name="Email" />

    <p>Password</p>
    <input id="Password" name="Password" />

    <button id="btnSubmitLogin" name="btnSubmitLogin">Log In</button>


</form>

<div class="container">
    @ViewData["ErrorMessage"]
</div>

<a asp-controller="Account" asp-action="ForgotPassword" class="btn">Forgot Password</a>

<a asp-controller="Account" asp-action="ForgotUsername" class="btn">Forgot Username</a>


<a asp-controller="Account" asp-action="CreateAccount" class="btn">Create Account</a>

<a asp-controller="Home" asp-action="ContinueAsGuest" class="btn">Continue as Guest</a>