@model RestaurantReviewCoreMVC.Models.Restaurant


<h1>Add Restaurant</h1>
<style>
    .dashboard-container {
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 1000;
    }
</style>

@{
    
     <div class="dashboard-container">

            <a asp-controller="Restaurant" asp-action="ManageRestaurants" class="btn btn-secondary">Manage Restaurants</a>
            <a asp-controller="Account" asp-action="Logout" class="btn btn-secondary">Logout</a>

        </div>
   
}

<form asp-controller="Restaurant" asp-action="AddRestaurant" method="post">
    <div>
        
        Title:
        <input asp-for="Title" />
        <br />
        Description:
        <textarea asp-for="Description"></textarea>
        <br />
        
        Cuisine:
        <input asp-for="Cuisine" />
        <br />
        Street:
        <input asp-for="Street" />
        <br />
        City:
        <input asp-for="City" />
        <br />
        State:
        <input asp-for="State" />
        <br />
        Zipcode:
        <input asp-for="Zipcode" />
        <br />
        Phone:
        <input asp-for="Phone" />
        <br />
        Email:
        <input asp-for="Email" />
        <br />
        Website:
        <input asp-for="Website" />
        <br />
        Hours:
        <input asp-for="Hours" />
        <br />
        Owner:
        <input asp-for="Owner" />
        
        <br />
        <button type="submit">Add Restaurant</button>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>